name: Production

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  workflow:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]
    steps:
      - name: Checkout current repo state
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/onscript:production
          secrets: |
            INFISICAL_ENV=production
            INFISICAL_CLIENT_ID=${{ secrets.INFISICAL_CLIENT_ID }}
            INFISICAL_CLIENT_SECRET=${{ secrets.INFISICAL_CLIENT_SECRET }}
            INFISICAL_PROJECT_ID=${{ secrets.INFISICAL_PROJECT_ID }}
            INFISICAL_DOMAIN=${{ secrets.INFISICAL_DOMAIN }}
